[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai-whisper = "*"
torch = "*"
torchaudio = "*"
tts = "*"
python-dotenv = "*"
langgraph = "*"
langchain-google-genai = "*"
langchain = "*"
langchain-core = "*"
pydantic = "*"
langchain-mistralai = "*"
langchain-openai = "*"
langchain-google-vertexai = "*"
google-cloud-aiplatform = "*"
langchain-groq = "*"
streamlit-chat-widget = "*"
streamlit-extras = "*"
streamlit-dynamic-filters = "*"

[dev-packages]

[requires]
python_version = "3.11"
