[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai-whisper = "*"
torch = "*"
torchaudio = "*"
tts = "*"
python-dotenv = "*"
langgraph = "*"
langchain-google-genai = "*"
langchain = "*"
langchain-core = "*"
pydantic = "*"
sox = "*"

[dev-packages]

[requires]
python_version = "3.11"
